*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noise {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-image: url('/noise.gif');
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.video {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
  z-index: 1;
  /* mix-blend-mode: difference; */
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 20vw;
  color: white;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5)) drop-shadow(0 0 2rem rgba(255, 255, 255, 0.8)) drop-shadow(0 0 3rem white) blur(4px);
}

.logo {
  filter: invert(1);
  width: 60vw;
  max-width: 1080px;
}



.hidden {
  display: none;
}