.PopPictures {
    position: relative;
    overflow: hidden;

    .ItemPicture {
        position: absolute;
        max-height: 200px;
        max-width: 300px;
        z-index: 2;
        pointer-events: none;
        // transform: translate(-50%, -50%);
    }
}