.foreground {
    position: absolute;
    bottom: 0px;
    left: 50vw;
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 3000 / 1496;
    object-fit: cover;
    transform: translateX(-50%) translateY(10px);
    z-index: 2;
}