.noise {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-image: url("/assets/noise.gif");
	background-position: center;
	background-size: cover;
	opacity: 0.1;
	mix-blend-mode: multiply;
	pointer-events: none;
}
